body {
    background-image: url("/img/gameboard.jpg");
}

.bandeauHaut {
    position: absolute;
    background: #ffd800;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: small;
    color:black;
    padding: 5px;
}

table.playerCards {
    background: #000000;
    border-collapse: collapse;
}

td.playertable {
    background: #FFFFFF;
    width: 28vh;
    height: 55vh;
    padding: 0;
    border: solid 1px;
    text-align: center;
    vertical-align: bottom;
}

td.playerplay {
    background: #FFFFFF;
    width: 28vh;
    height: 4vh;
    padding: 0;
    border: solid 1px;
    text-align: center;
    vertical-align: bottom;
}

td.cardDesc {
    background: #FFFFFF;
    width: 25vh;
    height: 7vh;
    padding: 0;
    border: solid 1px;
    padding: 5px;
    text-align: justify;
    vertical-align: top;
}

.playerGrid {
    position: absolute;
    top: 50px;
    left: 10px;
}

.playButton {
    width: 265px;
    height: 50px;
}

.deck {
    position: absolute;
    top: 700px;
    left: 700px;
}

table.decktable {
    background: #000000;
    border-collapse: collapse;
}

td.decktable {
    background: #FFFFFF;
    width: 50vh;
    height: 5vh;
    padding: 0;
    border: solid 1px;
    text-align: center;
}

.historiqueJ0 {
    position: absolute;
    top: 800px;
    left: 10px;
}

.historiqueJ1 {
    position: absolute;
    top: 110px;
    right: 20px;
}

.historiqueJ2 {
    position: absolute;
    top: 310px;
    right: 20px;
}

.historiqueJ3 {
    position: absolute;
    top: 510px;
    right: 20px;
}

.historiqueJ4 {
    position: absolute;
    top: 710px;
    right: 20px;
}

.pioche {
    position: absolute;
    top: 25vh;
    left: 105vh;
    width: 150px;
    color: white;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

input[type="button"] {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.chat {
    position: absolute;
    top: 250px;
    left: 300px;
    width: 300px;
    height: 300px;
}

#chatForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#chatInput {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 300px;
    width: 300px;
    height: 250px;
    overflow:scroll;
}

    #messages > li {
        padding: 0.5rem 1rem;
        background: rgba(10, 10, 10, 0.15);
        border: dotted;
        border-collapse: collapse;
        border-width: thin;
        backdrop-filter: blur(10px);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size:small;
        color: white;
    }

.hidden {
    display: none;
}

.activeForm {
    display: flex;
}